@charset "UTF-8";

html, body {
  margin: 0;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: "Noto Sans", "DejaVu Sans", sans-serif;
  width: 1920px;
  height: 1080px;
  /* top | right | bottom | left */
  padding: 380px 120px 120px 120px;
}

/* Quote content */
blockquote {
  font-size: 40px;        /* <<< quote text size */
  line-height: 1.45;
  margin-left: 0;
  margin-bottom: 70px;
  padding-left: 30px;
  border-left: 6px solid #38bdf8;
}
