@charset "UTF-8";

html, body {
  margin: 0;
}

body {
  background: #0f172a;
  color: #f8fafc;
  font-size: 42px;
  font-family: "Noto Sans", "DejaVu Sans", sans-serif;
  width: 1440px;
  height: 3088px;
  /* top | right | bottom | left */
  padding: 1080px 120px 120px 120px;
}

/* Quote text */
blockquote {
  font-size: 46px;
  line-height: 1.5;
  font-weight: 600; /* semi-bold */
  margin-left: 0;
  padding-left: 30px;
  border-left: 6px solid #7dd3fc;

  /* improves readability when screen dims */
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
